@using HelperSharp;
@using System.Web.Mvc;
@model DevAchievements.Domain.Developer

@using (Html.BeginForm("Create", "Developer", FormMethod.Post, new { @role="form" })) {
	@Html.UI().TextBoxFor(m => m.Username)
	@Html.UI().TextBoxFor(m => m.FullName)
 
    for(var i = 0; i < Model.AccountsAtIssuers.Count; i++)
    {
    	var account = Model.AccountsAtIssuers[i];
    	<div>
    	@Html.UI().TextBox(account.IssuerName, "{0} username".With(account.IssuerName), "AccountsAtIssuers[{0}].Username", i) 
    	@Html.Hidden("AccountsAtIssuers[{0}].IssuerName".With(i), account.IssuerName)
    	</div>
    }
    @Html.UI().PrimaryButton("Create");
}