@using HelperSharp;
@model DevAchievements.Domain.Developer
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Create developer</title>
</head>
<body>
    @using (Html.BeginForm()) {
	    <div>
	    Full name: @Html.TextBoxFor(m => m.FullName)
	    Username: @Html.TextBoxFor(m => m.Username)

	    @for(var i = 0; i < Model.AccountsAtIssuers.Count; i++)
	    {
	    	var account = Model.AccountsAtIssuers[i];
	    	<div>
	    	@Html.Label(account.IssuerName, account.IssuerName)
	    	@Html.Hidden("AccountsAtIssuers[{0}].IssuerName".With(i), account.IssuerName)
	    	@Html.TextBox("AccountsAtIssuers[{0}].Username".With(i))
	    	</div>
	    }
	    <input type="submit" value="Submit" />
	    </div>
    }
</body>
</html