@using HelperSharp;
@using System.Web.Mvc;
@model DevAchievements.Domain.Developer

@using (Html.BeginForm("Create", "Developer", FormMethod.Post, new { @role="form" })) {
	@Html.UI().TextBoxFor(m => m.Username)
	@Html.UI().TextBoxFor(m => m.FullName)
 
    for(var i = 0; i < Model.AccountsAtIssuers.Count; i++)
    {
    	var account = Model.AccountsAtIssuers[i];
    	<div>
    	@Html.Label(account.IssuerName, account.IssuerName)
    	@Html.Hidden("AccountsAtIssuers[{0}].IssuerName".With(i), account.IssuerName)
    	@Html.TextBox("AccountsAtIssuers[{0}].Username".With(i))
    	</div>
    }
    <input type="submit" value="Submit" />
}