@model DevAchievements.Application.DeveloperHomeViewModel

<article>
	<header>@Html.DevName(@Model.Developer)  </header>
@foreach(var issuer in Model.Issuers)
{
    <div class="alert alert-success"><img src="@issuer.LogoUrl" class="issuer-logo"/><br><h6 class="text-muted">@issuer.Name</h6></div>
	<ul>            
    @foreach(var achievement in Model.GetAchievementsByIssuer(issuer))
    {
        <li>
            <a href="@achievement.Link">@achievement.Name : <span class="badge">@achievement.Value</span></a>
        </li>
    }
    </ul>
}

</article>
