@model DevAchievements.Application.DeveloperHomeViewModel

@section Scripts{
	<script type="text/javascript" src="~/Scripts/Google.jsapi.js"></script>
  	<script type="text/javascript" src="~/Scripts/Views/Home/DeveloperHome.js"></script>
	<script>
		google.load('visualization', '1.0', {'packages':['corechart']});
	</script>
 }

<article>

	<header>
		@(Html.FluentUI()
			.Hidden("developerKey")
				.Value(Model.Developer.Key)
			.Image(DeveloperUI.GetAvatarUrl(Model.Developer))
				.Width("128px")
		)
		@Html.DevName(@Model.Developer)
	</header>
@{
	var yesterday = DateTime.Now.Date.AddMinutes(-1);
	var lastWeek = DateTime.Now.Date.AddDays(-7);
	var lastMonth = DateTime.Now.Date.AddDays(-30);
}

@foreach(var issuer in Model.Issuers)
{
	<div class="panel panel-primary">
  		<div class="panel-heading">@issuer <span class="pull-right">@Model.Developer.GetAccountAtIssuer(issuer).Username</span></div>
  		<div class="panel-body">
  				<div class="container">
  					<div class="row">
  						<div class="col-md-7">
			    		  	<ul>            
						    @foreach(var achievement in Model.Developer.GetAchievementsAtIssuer(issuer))
						    {
						        <li>
						            <a id="@achievement.Key" data-issuer="@issuer" class="achievement" href="@achievement.Link">@achievement.Name : 
						            	<span class="badge">@achievement.Value</span> 
						            </a>
					            	<span class="badge achievement-value" title="Last day change">@achievement.GetValueChangeFrom(yesterday)</span>
					            	<span class="badge achievement-value" title="Last week change">@achievement.GetValueChangeFrom(lastWeek)</span>
					            	<span class="badge achievement-value" title="Last month change">@achievement.GetValueChangeFrom(lastMonth)</span>
						            
						        </li>
						    }
						    </ul>
						</div>
						<div id='@Html.Raw(issuer + "_chart")' class="col-md-5 achievement-stat-chart">
			    		</div>
				</div>
	 		</div>
  		</div>
	</div>
}
</article>
