@model DevAchievements.Application.AchievementsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <title>DevAchievements</title>
</head>
<body>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off", @class = "form-inline", id = "form-achievements" }))
    {  
        <div class="form-group" style="margin:10px">
	        <label>
	            GitHub
	        </label>
	        @Html.TextBox("githubUserName")
	        <label>
	            StackOverflow
	        </label>
	        @Html.TextBox("stackoverflowUserName")	
	    	<label>
	            Visual Studio Achievements
	        </label>
	        @Html.TextBox("vsaUserName")
	    	<input type='submit' id='saveButton' name='saveButton' class='btn btn-orange' value='Refresh' />   
        </div>
    }

    @foreach(var issuer in Model.Issuers)
    {
        <div class="alert alert-success">@issuer.Name</div>
    	<ul>            
        @foreach(var achievement in Model.GetAchievementsByIssuer(issuer))
        {
            <li>
                <a href="@achievement.Link">@achievement.Name : <span class="badge">@achievement.Value</span></a>
            </li>
        }
        </ul>
    }
</body>
</html>
